<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My purchases
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

    <ion-row>
        <ion-col size="6" size-sm align-items-start>
            <ion-item>
                <ion-label position="floating">Start</ion-label>
                <ion-datetime displayFormat="DD-MMM-YYYY" [(ngModel)]="startDate"></ion-datetime>
              </ion-item>
        </ion-col>
        <ion-col size="6" size-sm align-items-start>
            <ion-item>
                <ion-label position="floating">End</ion-label>
                <ion-datetime displayFormat="DD-MMM-YYYY" [(ngModel)]="endDate"></ion-datetime>
              </ion-item>
        </ion-col>
        <ion-col size="5" size-sm align-items-start>
            <ion-item>
                <ion-label position="floating">Keyword
                </ion-label>
                <ion-input type="text" [(ngModel)]="keyword" name="keyword"></ion-input>
              </ion-item>
        </ion-col>
      
        <ion-col size="7" size-sm align-items-start>
            <ion-list>
          <ion-button color="success" (click)="filterReport()">
              <ion-icon slot="start" name="search"></ion-icon>
            GO</ion-button>
            <a color="success" (click)="clearFileter()">
              Clear Filter</a>
          </ion-list>
      </ion-col>
    </ion-row>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="(mypurchases.status); else noData">
    <ion-list>
      <ion-card>
        <ion-item>
          <ion-col size="12" size-sm align-items-end>
            <p>
              Your {{isFiltered ? 'Filter' : 'Life Time'}} Purhcase Cost is Rs. {{lifeTimePurchase}}/-
            </p>
          </ion-col>
        </ion-item>
      </ion-card>
    </ion-list>
    <ion-row>
      <ion-col  size="12" size-sm >
        <ion-button color="danger" float-right (click)="bulkDownload();">  <ion-icon name="cloud-download"></ion-icon></ion-button>
        <ion-button color="primary" float-right routerLink="/mybills"> My Bills</ion-button>
      </ion-col>
    </ion-row>
    <ion-list *ngFor="let purchase of mypurchases.data">
    <ion-card>
          <ion-row>
            <ion-col size="11" size-sm>
          <ion-item lines="none">
            <ion-thumbnail >
              <img [src]="purchase.image ? img_base+purchase.image : defaultImage" tappable (click)="openPreview(purchase.image ? img_base+purchase.image : defaultImage)">
            </ion-thumbnail>
                <ion-label >
                  <ion-row (click)="purchaseview(purchase)">
                    <ion-col size="12" size-sm>
                    <ion-text>
                      Rs. {{purchase.totalcost}}/- is your purchase amount.
                    </ion-text>
                  </ion-col>
                    <ion-col size="12" size-sm >
                      <small class="deal_price">
                        Vendor : {{purchase.name}} (<a href="javascript:void(0)" (click)="callToVendor(purchase.mobile_number)"> {{purchase.mobile_number}} </a>)
                      </small>
                    </ion-col>
                  
                    <ion-col size="12" size-sm >
                      <small class="deal_price">
                        Purchase Date : {{purchase.purchase_date}}
                      </small>
                    </ion-col>
                    <ion-col size="12" size-sm >
                      <small class="deal_price">
                        Last updated on - {{purchase.date_modify | timeAgo}}
                      </small>
                    </ion-col>
                  </ion-row>

                  <!-- <ion-col size="3" size-sm>
                    <ion-button routerLink="/purchases/{{purchase.id}}" float-right color="tertiary" shape="round"
                      size="small">
                      <ion-icon name="create"></ion-icon> Edit
                    </ion-button>
                  </ion-col> -->
                </ion-label>
                
          </ion-item>
        </ion-col>
            <ion-col size="1" size-sm align-self-end>
              <ion-checkbox color="danger" [value]="purchase.id" [(ngModel)]="purchase.checked" (ionChange)="selectedValues()"></ion-checkbox>
              </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col size="12" size-sm>
              <p [innerHTML]="purchase.description | safehtml">
  
              </p>
            </ion-col>
          </ion-row> -->
        </ion-card>
    </ion-list>
  </div>
  <ng-template #noData>
    <div class="ion-text-center">
      <p>{{noDataFound}}</p>
        <ion-button color="primary" small color="tertiary" shape="round" routerLink="/purchases">Add New</ion-button>
    </div>
  </ng-template>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="danger" routerDirection="forward" data-desc="add New" routerLink="/purchases">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>