<ion-header>
    <ion-toolbar>
      <ion-title>No Internet</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card class="welcome-card" [ngStyle]="{'margin-top':'50%'}">
      <ion-card-content>
        <ion-row>
          <ion-col size="12" size-sm offset="2">
            <p><b>No internet</b></p>
            <span (click)="isOnline()">
             <b [ngStyle]="{'color':'red'}"> <ion-icon name="refresh"></ion-icon> Try again</b>
            </span>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-content>