<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="mykhatas"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Add / Update Customer
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="addCustomer()" #form="ngForm" [formGroup]="addcustomer">
    <ion-row>
      <ion-col size="12" size-sm>
        <ion-row>
          <ion-col size="5" size-sm>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input type="text" placeholder="Enter name" formControlName="name" required
                [(ngModel)]="customer.name" name="name"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="7" size-sm>
            <ion-item>
              <ion-label position="floating">Mobile number <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="text" formControlName="mobile_number" [disabled]="customer.is_update" required [(ngModel)]="customer.mobile_number"
                name="mobile_number" placeholder="Enter mobile number"></ion-input>
                <div slot="end" *ngIf="isMobile && customer.is_update == 0" class="padding-top-15">
                  <ion-button color="default" (click)="getContact()">
                    <ion-icon color="success" name="contact" ></ion-icon>
                  </ion-button>
                  </div>
            </ion-item>
            <div *ngIf=" f.mobile_number.errors && f.mobile_number.touched" class="invalid-feedback">
              <div *ngIf="f.mobile_number.errors.required">Mobile field is required</div>
              <div *ngIf="f.mobile_number.errors.maxlength">Mobile cannot be greater than 13 digits.</div>
            </div>
          </ion-col>
          <ion-col size="12" size-sm >

            
              <ion-list *ngIf="!isLoading && croppedImagepath">
                <ion-item lines="none">
                  <ion-thumbnail>
                    <ion-img [src]="croppedImagepath"></ion-img>
                  </ion-thumbnail>
                </ion-item>
              </ion-list>
              <span *ngIf="isMobile">
            <ion-button *ngIf="!isLoading" (click)="pickImage()" color="primary" small
                  color="tertiary" shape="round">Upload Image</ion-button>
                </span>
                <span *ngIf="!isMobile">
                  <input
                  style="display: none"
                  type="file" (change)="onFileChanged($event)" accept="image/*"
                  #fileInput>
                  <ion-button *ngIf="!isLoading" (click)="fileInput.click()" color="primary" small
                  color="tertiary" shape="round" >Upload Image</ion-button>
                </span>
                <ion-button *ngIf="isLoading && !croppedImagepath" color="primary" small color="tertiary" shape="round">
                  Loading ...</ion-button>
              <ion-input type="hidden" formControlName="image" [(ngModel)]="customer.image" name="image"></ion-input>
          </ion-col>
        </ion-row>

        <!-- Checkboxes in a List -->
<ion-list *ngIf="customer.is_update && hideMakeVendor == 0">
  <ion-item lines="none">
    <ion-label>Make vendor</ion-label>
    <ion-checkbox slot="start" (click)="makeVendor()"></ion-checkbox>
  </ion-item>
</ion-list>
        <br />
        <ion-button color="success" [disabled]="form.invalid" type="submit" block>
          Save
        </ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>