<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="mypurchases" ></ion-back-button>
    </ion-buttons>
    <ion-title>
      Purchase Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row>
      <ion-col class="ion-text-center" size="12">
        
        <ion-text class="ion-padding-top">
        You purchase from <strong>{{purchaseDetail.name}} </strong>on <strong>{{purchaseDetail.purchase_date}}</strong>
      </ion-text>
      <ion-icon name="checkmark-circle-outline"></ion-icon>
        <h6 >Bill amount
          <ion-text [color]="'primary'">
          Rs. {{purchaseDetail.totalcost}}/- 
            </ion-text>
        </h6>
        <h6>
          Paid amount
          <ion-text [color]="'success'">
          Rs. {{purchaseDetail.amount_paid}}/- 
            </ion-text>
        </h6>
        <h6>Pending amount   
          <ion-text [color]="'danger'">
         Rs. {{purchaseDetail.totalcost*1 - purchaseDetail.amount_paid*1}}/- 
            </ion-text>
        </h6>
      </ion-col>
      
    </ion-row>

  </ion-card>
<ion-item>
  <ion-col size="12">
    <p [innerHTML]="purchaseDetail.description | safehtml"></p>
  </ion-col>
  </ion-item>

    <div *ngIf="khataImges.status">
      <ion-row>
        <ion-col size="6" size="4" size="3"  size-sm *ngFor="let imges of khataImges.data">
        <!-- <ion-card class="ion-text-center" > -->
          <!-- <ion-thumbnail> -->
            <!-- <img [src]="img_base+imges.image" tappable (click)="openPreview(img_base+imges.image)"> -->
            <div tappable (click)="openPreview(img_base+imges.image)" class="image-container" [ngStyle]="{'background-image':'url(' + img_base+imges.image + ')', 'background-size':'cover', 'background-repeat':'no-repeat'}"></div>
                
          <!-- </ion-thumbnail> -->
        <!-- </ion-card> -->
        </ion-col>
      </ion-row>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
      <ion-fab-button color="danger" routerDirection="forward" data-desc="Edit" routerLink="/purchases/{{purchaseDetail.id}}">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>

<ion-footer no-border>
  <ion-list *ngIf="this.isMobile" >
    <ion-item (click)="shareViaWhatsAppToReceiver()">
      <ion-button slot="start" color="success">  <ion-icon name="logo-whatsapp">  </ion-icon> </ion-button>
      <ion-label>Share on WhatsApp</ion-label>
      <ion-icon name="arrow-dropright" class="end"></ion-icon>
    </ion-item>
    <ion-item (click)="shareSocial()">
      <ion-button slot="start" color="success"> <ion-icon name="share-alt"></ion-icon></ion-button>
      <ion-label>Share</ion-label>
      <ion-icon name="arrow-dropright" class="end"></ion-icon>
    </ion-item>
    <ion-item (click)="call()">
      <ion-button slot="start" color="success">  <ion-icon name="call">  </ion-icon> </ion-button>
      <ion-label>Call</ion-label>
      <ion-icon name="arrow-dropright" class="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-footer>
