<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="stockin"></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="start" *ngIf="isScaning">
        <ion-icon name="arrow-back" style="zoom:2.0;" (click)="hideCamera()"></ion-icon>
    </ion-buttons> -->
    
    <ion-title>
      Update Stock
    </ion-title>
    <!-- <ion-title *ngIf="isScaning">
      Scan
    </ion-title> -->

    <!-- <ion-buttons slot="secondary" *ngIf="isScaning">
        <ion-button (click)="openFlash()">
            <ion-icon slot="icon-only" name="{{flashIcon}}"></ion-icon>
          </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="cameraClass">

  <ion-card>
    <ion-item>
      <ion-label position="floating">Search</ion-label>
      <ion-input type="text" name="search" [formControl]="searchControl" [(ngModel)]="searchTerm"
        (ionChange)="setFilteredItems()"></ion-input>
    </ion-item>
  </ion-card>
  <div *ngIf="searching" class="ion-text-center" text-center>
    <ion-spinner></ion-spinner>
  </div>

  <div *ngIf="isMobileDevice" text-center class="ion-padding-top">Or</div>

  <ion-row *ngIf="isMobileDevice">
    <ion-col text-center class="ion-padding-top">
      <ion-button (click)="scanCode()" color="success" shape="round" >
        <ion-icon slot="start" name="qr-scanner"></ion-icon>
        Scan
      </ion-button>
      <!-- <ion-button (click)="openSetting()" color="success" shape="round" *ngIf="!scannerPermission">
        <ion-icon slot="start" name="settings"></ion-icon> Allow Permission to Scan
      </ion-button> -->
    </ion-col>
  </ion-row>
  

  <div *ngIf="(searchData.status); else noData">
    <ion-card *ngFor="let result of searchData.data">
      <ion-row>
        <ion-col>
          <form [formGroup]="updatestockdetail">
            <ion-item lines="none">
              <ion-thumbnail>
                <img src="{{result.image == '' ? defaultImage : result.image}}">
              </ion-thumbnail>
              <ion-item lines="none">
                <p>{{result.title}}</p>
              </ion-item>
            </ion-item>
            <ion-row>
              <ion-col size="6" size-sm>
                <ion-item>
                  <ion-label position="floating">Add Quantity</ion-label>
                  <ion-input type="number" formControlName="quantity" name="quantity" maxlength="5" #qtyInput></ion-input>
                </ion-item>
                <div class="ion-text-end">Available: {{result.quantity}}</div>
              </ion-col>
              <ion-col size="6" size-sm> 
                <ion-item>
                  <ion-label position="floating">Stock Type</ion-label>
                  <ion-select placeholder="Select One" name="product_status_id" formControlName="product_status_id" #product_status_id>
                    <ion-select-option 
                    *ngFor="let stockTypes of stockStatus.data | stocktypepipe: 1"
                     [value]="stockTypes.id"
                     >{{stockTypes.type}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-list>
              <ion-item>
                <ion-label  position="floating">Merchants (Optional)</ion-label>
                <ion-select placeholder="Select One" name="marketplace_id" formControlName="marketplace_id" #marketplace_id>
                  <ion-select-option 
                    *ngFor="let merchant of merchants.data"
                     [value]="merchant.id"
                     >{{merchant.name}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
            <ion-button color="success" (click)="updateStock(qtyInput.value, result.id,product_status_id.value, marketplace_id.value)" type="submit" block>Update</ion-button>
            <ion-button color="danger" type="button" block routerLink="/addnewstock/{{result.id}}">Edit</ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <ng-template #noData>
    <div class="ion-text-center">
      {{noDataFound}}
    </div>
  </ng-template>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

  