<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="stockin"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Update Stock
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-label position="floating">Search</ion-label>
      <ion-input type="text" name="search"></ion-input>
    </ion-item>
  </ion-card>

  <div text-center class="ion-padding-top">Or</div>

  <ion-row>
    <ion-col text-center class="ion-padding-top">
      <ion-button routerLink="/scanin" color="success" shape="round">
        <ion-icon slot="start" name="star"></ion-icon>
        Scan
      </ion-button>
    </ion-col>
  </ion-row>

  <div class="ion-text-center">If Data found using scan the show below card else alow to search above</div>

  <ion-card>
    <ion-row>
      <ion-col>
        <form (ngSubmit)="logForm()">
          <ion-item>
            <ion-thumbnail>
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
          </ion-item>
          <ion-item>
            <p>Product Name</p>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Add Quantity</ion-label>
            <ion-input type="number" name="product_qty"></ion-input>
          </ion-item>
          <div class="ion-text-end">Available 10</div>

          <ion-list>
            <ion-item>
              <ion-label>Product Condition</ion-label>
              <ion-select placeholder="Select One">
                <ion-select-option value="1">New</ion-select-option>
                <ion-select-option value="2">Old</ion-select-option>
                <ion-select-option value="3">Return</ion-select-option>
                <ion-select-option value="4">Other</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <p>If Return then ask from witch platform it comes</p>
          <ion-list>
            <ion-item>
              <ion-label>Return from</ion-label>
              <ion-select placeholder="Select One">
                  <ion-select-option value="1">Amazon</ion-select-option>
                  <ion-select-option value="2">Paytm</ion-select-option>
                  <ion-select-option value="3">Flipkart</ion-select-option>
                  <ion-select-option value="4">Shop</ion-select-option>
                  <ion-select-option value="5">Other</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-button color="success" type="submit" block>Update</ion-button>
          <ion-button color="danger" type="button" block>Edit</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>