.row-height-40{
    height: 40px;
    padding: 5px;
}
.success-color{
    color: #006600;
}
.trashclass{
    background-color: #E5A193;
    text-decoration: line-through;
}
.padding-top-30{
    padding-top: 30%;
}