<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="mykhatas"></ion-back-button>
      <ion-avatar *ngIf="customerImg == ''" (click)="editCustomer()">
        <text-avatar [text]="name"  textColor="#fff" marginTop='10px'></text-avatar>
      </ion-avatar>
      <ion-avatar *ngIf="customerImg != ''" >
        <img [src]="customerImg ? img_base + customerImg : defaultImage" (click)="openPreview(img_base + customerImg)">
      </ion-avatar>
    </ion-buttons>
    <ion-title (click)="editCustomer()">
      <ion-label>
        <h3>{{name}}</h3>
        <small>{{mobileNumber}}</small>
      </ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-item>
        <ion-col size="12" size-sm align-items-end>
            <small>Balance</small>
            <ion-text [color]="'danger'">
               Rs. {{balance}}/- 
               </ion-text>
               <div class="ion-float-right"><small>{{balance_text}}</small></div>
        </ion-col>
      </ion-item>
    </ion-card>
      <ion-row>
        <ion-col size="6">
          <div class="ion-text-center">
            <small>ENTRIES</small>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="ion-text-center">
            <small>YOU RECEIVE</small>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="ion-text-center">
            <small>YOU PAY</small>
          </div>
        </ion-col>
      </ion-row>
  <div *ngIf="(mykhata.status); else noData">
    <ion-virtual-scroll [items]="mykhata.data" >
  <ion-list no-padding *virtualItem="let item;" >
    <ion-card (click)="khataView(item)" [ngClass]="item.is_deleted == 1 ? 'trashclass' : ''">
      <ion-row class="row-height-40">
        <ion-col size="6">
          <div class="ion-text-center">
            <small>{{item.on_date}}</small>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="ion-text-center">
            <ion-text class="success-color" >
              <div *ngIf="item.you_got > 0">
                Rs. {{item.you_got}}/-
              </div>
              </ion-text>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="ion-text-center">
            <ion-text [color]="'danger'">
              <span *ngIf="item.you_paid > 0">
                Rs. {{item.you_paid}}/-
              </span>
              </ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list >
</ion-virtual-scroll>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" [hidden]="true">
  <ion-fab-button color="danger" (click)="downloadLadger()">
    <ion-icon name="cloud-download"></ion-icon>
  </ion-fab-button>
</ion-fab>
</div>
<ng-template #noData>
  <div class="ion-text-center padding-top-30" padding  >
    <ion-text [color]="'danger'" >{{noDataFound}}</ion-text> 
  </div>
</ng-template>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer no-border>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
            <ion-button (click)="addkhata(1)" expand="full" color="danger" class="ion-text-uppercase">YOU PAID RS.</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="addkhata(2)" expand="full" color="success" class="ion-text-uppercase">YOU RECEIVED RS.</ion-button>
      </ion-col>
      </ion-row>
    </ion-grid>
   
</ion-footer>
