<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <!-- <ion-row>
        <ion-col size="12" size-sm offset="4">
          <ion-avatar>
            <ion-img class="profile_image" src="assets/img/logo.png"></ion-img>
          </ion-avatar>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col size="12" size-sm offset="1"><label>{{name | uppercase }} - {{name | titlecase }} Offical App.</label></ion-col>

      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm>
          <p>{{address}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm offset="2">
          <p *ngIf="mobile"><b>Mobile:</b> <span> {{mobile}}</span></p>
          <p *ngIf="email"><b>Email:</b> <span (click)="openEmail(email)"> {{email}}</span></p>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>
</ion-content>