<ion-header >
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        My products
      </ion-title>
    </ion-toolbar>
  </ion-header>
  

  <ion-content >
    <ion-searchbar showCancelButton="always" animated debounce="500" [(ngModel)]="keyword" (ionChange)="filterProduct()" (ionClear)="products()"></ion-searchbar>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
            refreshingText="Refreshing...">
          </ion-refresher-content>
        </ion-refresher>
    <div *ngIf="(myproducts.status); else noData">
      <ion-list *ngFor="let product of myproducts.data">
        <ion-card (click)="productView(product, totalSold[product.id],totalReturn[product.id], totalLoss[product.id], totalDamage[product.id])">
          <ion-item>
            <ion-thumbnail slot="start">
              <img [src]="product.image ? img_base+product.image : defaultImage" tappable (click)="openPreview(product.image ? img_base+product.image : defaultImage)">
            </ion-thumbnail>
            <ion-label>
              <ion-row>
              <ion-col size="9" size-sm align-items-end>
                <p><strong>
                  {{product.title}}
                </strong>
                </p>
                <small class="deal_price">
                  {{product.likes}} Likes | Available : {{product.quantity}}
                  | Live date : {{product.date_added | timeAgo}} 
                </small>
              </ion-col>
            </ion-row>
          <ion-row>
              <ion-col size="9" size-sm align-items-end>
                <small class="deal_price">
                  Sold : {{totalSold[product.id]}} 
                  | Return : {{totalReturn[product.id]}} | Loss : {{totalLoss[product.id]}} | Damages :  {{totalDamage[product.id]}}
                </small>
              </ion-col>
            </ion-row>  
            </ion-label>
          </ion-item>
        </ion-card>
  
      </ion-list>
    </div>
    <ng-template #noData>
      <div class="ion-text-center">
        {{noDataFound}}
      </div>
    </ng-template>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
        <ion-fab-button color="danger" routerDirection="forward" data-desc="Add New" routerLink="/addnewstock">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  </ion-content>
  <ion-footer no-border >
    <ion-grid>
      <ion-row>
        <ion-col size="6">
            <ion-button routerLink="/scanin" expand="full" color="danger" class="ion-text-uppercase">Stock In</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button routerLink="/stockout" expand="full" color="success" class="ion-text-uppercase">Stock out</ion-button>
      </ion-col>
      </ion-row>
    </ion-grid>
   
  </ion-footer>