<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="BackButtonAction()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Entry Details
    </ion-title>
    <!-- <ion-buttons slot="secondary" (click)="editKhatas()">
      <ion-button>
        <ion-icon slot="icon-only" name="create"></ion-icon> Edit
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row>
      <ion-col class="ion-text-center" size="12">

        <ion-text class="ion-padding-top">
          {{khataDetail.name}} {{khataDetail.you_got > 0 ? 'Paid' : 'Took'}}
        </ion-text>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <h6 *ngIf="khataDetail.you_got > 0 ">
          <ion-text [color]="'success'">
            Rs. {{khataDetail.you_got}}/-
          </ion-text>
        </h6>
        <h6 *ngIf="khataDetail.you_paid > 0 ">
          <ion-text [color]="'danger'">
            Rs. {{khataDetail.you_paid}}/-
          </ion-text>
        </h6>
        on {{khataDetail.on_date}}
      </ion-col>
      
    </ion-row>

  </ion-card>
  <ion-row>
    <ion-col size="12">
      <p [innerHTML]="khataDetail.description | safehtml"></p>
    </ion-col>
  </ion-row>
  <div *ngIf="khataImges.status">
    <ion-row>
      <ion-col size="3"  *ngFor="let imges of khataImges.data">
      <!-- <ion-card class="ion-text-center" >
        <ion-thumbnail> -->
          <!-- <img [src]="img_base+imges.image" tappable (click)="openPreview(img_base+imges.image)"> -->
          <div class="square">
            <div tappable (click)="openPreview(img_base+imges.image)" class="image-container" [ngStyle]="{'background-image':'url(' + img_base+imges.image + ')', 'background-size':'cover', 'background-repeat':'no-repeat'}"></div>
          </div>
          
               
        <!-- </ion-thumbnail>
      </ion-card> -->
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-list *ngIf="this.isMobile">
    <ion-item (click)="shareViaWhatsAppToReceiver()" *ngIf="khataDetail.is_deleted == 0">
      <ion-button slot="start" color="success">
        <ion-icon name="logo-whatsapp"> </ion-icon>
      </ion-button>
      <ion-label>Share on WhatsApp</ion-label>
      <ion-icon name="arrow-dropright" class="end"></ion-icon>
    </ion-item>
    <ion-item (click)="shareSocial()" *ngIf="khataDetail.is_deleted == 0">
      <ion-button slot="start" color="success">
        <ion-icon name="share-alt"></ion-icon>
      </ion-button>
      <ion-label>Share</ion-label>
      <ion-icon name="arrow-dropright" class="end"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="khataDetail.purchase_id > 0">
    <ion-item (click)="viewBill(khataDetail)">
      <ion-button slot="start" color="success">
        <ion-icon name="cash"></ion-icon>
      </ion-button>
      <ion-label>Bill related to this transaction</ion-label>
      <ion-icon name="arrow-dropright" class="end"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-button *ngIf="khataDetail.is_deleted == 0" (click)="deleteTransaction()" expand="full" color="danger" class="ion-text-uppercase">Delete Transaction
  </ion-button>
</ion-footer>