<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/messages" >
      <ion-button>
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
        <ion-badge color="danger" *ngIf="counter > 0">{{counter}}</ion-badge>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-content #pageContent fullscreen >
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div  padding-top *ngIf="recentProductsStatus; else recentProductsAdd">
    <ion-row>
      <ion-col size="6">
        
        <div class="ion-text-start "> Recent Products </div>
      </ion-col>
      <ion-col size="6" >
        <ion-text >
        <div class="ion-text-end view-all" (click)="navto('myproducts')"> View All > </div>
        </ion-text>
      </ion-col>
    </ion-row>
  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide *ngFor="let recentProduct of recentProducts">
      <div class="img-container">
        <img src="{{recentProduct.image == '' ? defaultImage : imgBase+recentProduct.user_id+'assets/'+recentProduct.image }}">
      </div>
    </ion-slide>
    <!-- <ion-slide>
      <div class="img-container img-container-text-parent">
     <span class="img-container-text" (click)="navto('myproducts')">View All</span>  
      </div>
    </ion-slide> -->
  </ion-slides>
</div>
<ng-template #recentProductsAdd >
  <div class="ion-text-center" padding-top>
   <ion-button color="primary" small color="tertiary" shape="round" class="ion-text-uppercase" (click)="navto('addnewstock')">Add New Product</ion-button>
  </div>
</ng-template>
<div  padding-top *ngIf="recentTransactionsStatus; else recentTransactionsAdd">
  <ion-row>
    <ion-col size="6">
      
      <div class="ion-text-start "> Recent Transactions </div>
    </ion-col>
    <ion-col size="6" >
      <ion-text >
      <div class="ion-text-end view-all" (click)="navto('mykhatas')"> View All > </div>
      </ion-text>
    </ion-col>
  </ion-row>
<ion-slides pager="false" [options]="pslideOpts">
  <ion-slide *ngFor="let recentTransaction of recentTransactions">
      <ion-list>
        <ion-card >
          <ion-item>
            <ion-thumbnail slot="start">
              <img class="thumbnail-margin" src="{{customerImages[recentTransaction.mobile_number] == '' || customerImages[recentTransaction.mobile_number] == undefined ? defaultImage : img_base+customerImages[recentTransaction.mobile_number] }}">
            </ion-thumbnail>
            <ion-label>
              <ion-row>
              <ion-col size="12" >
                <p>
                  <small>Paid : Rs. {{recentTransaction.you_paid}}/-</small>
                </p>
                <p>
                  <small>Got : Rs. {{recentTransaction.you_got}}/-</small>
                </p>
              </ion-col>
            </ion-row>
            </ion-label>
          </ion-item>
        </ion-card>
  
      </ion-list>
  </ion-slide>
</ion-slides>
</div>
<ng-template #recentTransactionsAdd >
  <div class="ion-text-center" padding-top>
   <ion-button color="primary" small color="tertiary" shape="round" class="ion-text-uppercase" (click)="navto('addcustomer')">Add customer</ion-button>
  </div>
</ng-template>
<div  padding-top *ngIf="recentPurchasessStatus; else recentPurchasessAdd">
  <ion-row>
    <ion-col size="6">
      
      <div class="ion-text-start "> Recent Purchases </div>
    </ion-col>
    <ion-col size="6" >
      <ion-text >
      <div class="ion-text-end view-all" (click)="navto('mypurchases')"> View All > </div>
      </ion-text>
    </ion-col>
  </ion-row>
<ion-slides pager="false" [options]="uslideOpts">
  <ion-slide *ngFor="let recentPurchases of recentPurchasess">
      <ion-list>
        <ion-card >
          <ion-item>
            <ion-thumbnail slot="start">
              <img class="thumbnail-margin" src="{{recentPurchases.image == '' ? defaultImage : img_base+recentPurchases.image }}">
            </ion-thumbnail>
            <ion-label>
              <ion-row>
                <ion-col size="12" size-sm >
                  <ion-text>
                    Bill Amount is Rs. {{recentPurchases.totalcost}}/-
                  </ion-text>
                </ion-col>
              <ion-col size="12" size-sm >
                  <small>You Paid : Rs. {{recentPurchases.amount_paid}}/-</small>
              </ion-col>
              <ion-col size="12" size-sm >
                <ion-text>
                  <small>Vendor : {{recentPurchases.name}}</small>
                </ion-text>
              </ion-col>
            </ion-row>
            </ion-label>
          </ion-item>
        </ion-card>
  
      </ion-list>
  </ion-slide>
</ion-slides>
</div>
<ng-template #recentPurchasessAdd >
  <div class="ion-text-center" padding-top>
   <ion-button color="primary" small color="tertiary" shape="round" class="ion-text-uppercase" (click)="navto('mypurchases')">Add new bill</ion-button>
  </div>
</ng-template>
<div  padding-top *ngIf="vendorsStatus; else vendorsAdd;">
  <ion-row>
    <ion-col size="6">
      
      <div class="ion-text-start "> Vendors </div>
    </ion-col>
    <ion-col size="6" >
      <ion-text >
      <div class="ion-text-end view-all" (click)="navto('myvendors')"> View All > </div>
      </ion-text>
    </ion-col>
  </ion-row>
<ion-slides pager="false" [options]="slideOpts">
  <ion-slide *ngFor="let vendor of vendors">
    <div class="img-container">
      <img src="{{vendor.customer_image == '' ? defaultImage : img_base+vendor.customer_image }}">
    </div>
  </ion-slide>
  <ion-slide>
    <div class="img-container img-container-text-parent">
   <span class="img-container-text">View All</span>  
    </div>
  </ion-slide>
</ion-slides>
</div>
<ng-template #vendorsAdd >
  <div class="ion-text-center" padding-top>
   <ion-button color="primary" small color="tertiary" shape="round" class="ion-text-uppercase" (click)="navto('addvendor')">Add new vendor</ion-button>
  </div>
</ng-template>
<div  padding-top *ngIf="recentUpdatesStatus">
  <ion-row>
    <ion-col size="6">
      
      <div class="ion-text-start "> Recent Updates </div>
    </ion-col>
    <ion-col size="6" >
      <ion-text >
      <div class="ion-text-end view-all" (click)="navto('newsfeed')"> View All > </div>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-slides pager="false" [options]="uslideOpts" >
    <ion-slide  *ngFor="let recentUpdate of recentUpdates">
      <ion-list >
        <ion-card >
              <ion-item lines="none">
                <ion-thumbnail >
                  <img src="{{recentUpdate.image == '' ? defaultImage : img_base+recentUpdate.image }}"tappable >
                </ion-thumbnail>
                    <ion-label >
                      <ion-row >
                        <ion-col size="12" size-sm>
                        <ion-text>
                          {{recentUpdate.title}}
                        </ion-text>
                      </ion-col>
                        <ion-col size="12" size-sm >
                          <small class="deal_price">
                            Seller : {{recentUpdate.name}}
                          </small>
                        </ion-col>
                      
                        <ion-col size="12" size-sm >
                          <small class="deal_price">
                            Likes : {{recentUpdate.likes}}
                          </small>
                        </ion-col>
                      </ion-row>
                    </ion-label>
              </ion-item>
            
            </ion-card>
        </ion-list>

    </ion-slide>
  </ion-slides>
</div>
</ion-content>
<ion-footer no-border [scrollHide]="footerScrollConfig" [scrollContent]="pageContent">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
          <ion-button routerLink="/scanin" expand="full" color="danger" class="ion-text-uppercase">Stock In</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button routerLink="/stockout" expand="full" color="success" class="ion-text-uppercase">Stock out</ion-button>
    </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-footer>