.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
// ion-fab-button[data-desc] {
//   position: relative;
// }

// ion-fab-button[data-desc]::after {
//   position: absolute;
//   content: attr(data-desc);
//   z-index: 1;
//   right: 55px;
//   bottom: 4px;
//   background-color: var(--ion-color-primary-tint);
//   padding: 9px;
//   border-radius: 15px;
//   color: white;
//   box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
// }
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.img-container {
  width: 120px;
  height: 120px;
  border: 1px solid #ececec;
  background-repeat: no-repeat;
  margin-left: 5px;
  padding: 5px;
  box-shadow: 7px 15px 5px -9px #c7b8b8;
}
.view-all{
  color: #a99a9a;
    font-size: small;
}
.img-container-text-parent{
  background-color: #e63434;
  color:white;
}
.img-container-text{
  margin-top: 45%;
  text-align: center;
  display: inline-block;
}
.thumbnail-margin{
  margin-top: 18%;
  display: inline-block;
}