<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="mykhatas"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Add Khata
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" [formGroup]="addkhata" (ngSubmit)="saveKhata()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>You are paying Rs {{khata.amount}} to {{name | titlecase}}</h3>
          </div>
          <div padding>
            
            <ion-item>
              <ion-input placeholder="Amount" name="amount" type="number" [(ngModel)]="khata.amount" formControlName="amount" required autofocus="true" autocomplete="off" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea placeholder="Enter more information here..." [(ngModel)]="khata.description" formControlName="description"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-datetime displayFormat="DD-MMM-YYYY" formControlName="purchase_date"
                [(ngModel)]="khata.purchase_date" placeholder="Date"></ion-datetime>
            </ion-item>
            
            <!-- <ion-list *ngIf="!isLoading && croppedImagepath.length > 0">
              <ion-item class="width-120">
                <div *ngFor="let imges of  croppedImagepath">
                  <ion-icon name="trash" class="trash" (click)="removeImg(imges, $event)"></ion-icon>
                  <ion-img [src]="img_url + imges"></ion-img>
                </div>
              </ion-item>
            </ion-list> -->

            <ion-grid *ngIf="!isLoading && croppedImagepath.length > 0">
              <ion-row>
                <ion-col size="6" size="4" size="3" *ngFor="let imges of  croppedImagepath">
                  <ion-icon color="danger" name="trash" class="selected-image trash" (click)="removeImg(imges, $event)"></ion-icon>
                  <div class="image-container" [ngStyle]="{'background-image':'url(' + img_url + imges + ')', 'background-size':'contain', 'background-repeat':'no-repeat'}"></div>
                </ion-col>
              </ion-row>
            </ion-grid>
           
            <br />
            <span *ngIf="isMobile">
            <ion-button *ngIf="!isLoading" (click)="imageSelector()" color="primary" small color="tertiary" shape="round">Upload
              Image</ion-button>
            </span>
            <span *ngIf="!isMobile">
              <input
              style="display: none"
              type="file" (change)="onFileChanged($event)" accept="image/*"
              #fileInput>
              <ion-button *ngIf="!isLoading" (click)="fileInput.click()" color="primary" small
              color="tertiary" shape="round" >Upload Image</ion-button>
            </span>
            <ion-button *ngIf="isLoading" color="primary" small color="tertiary" shape="round">Loading
              ...</ion-button>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block" >
              Save </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
