

    .image-container {
        min-height: 80px;
        background-size: cover;
    }
    .selected-image{
        position: absolute;
        height: 20%;
        width: 20%;
        transition: .3s ease;
        background-color: #ff000000;
    }
    .padding-top-15{
        margin-top: 15px;
        margin-left: 3px!important;
    }