<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="stockin"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Add / Update Purchase(s)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="newStock()" #form="ngForm" [formGroup]="newstockdetail">
    <ion-row>
      <ion-col size="12" size-sm >
          <ion-row>
              <ion-col size="6" size-sm >
          <ion-item>
              <ion-label position="floating">Purchase Date</ion-label>
              <ion-datetime displayFormat="DD-MM-YYYY" formControlName="purchase_date" [(ngModel)]="purchase.purchase_date"></ion-datetime>
            </ion-item>
          </ion-col >
          <ion-col size="6" size-sm >
        <ion-item>
          <ion-label position="floating">Total Cost <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input type="number" formControlName="totalcost" required [(ngModel)]="purchase.totalcost"
            name="totalcost"></ion-input>
        </ion-item>
        <div *ngIf=" f.totalcost.errors && f.totalcost.touched" class="invalid-feedback">
            <div *ngIf="f.totalcost.errors.required">Cost field is required</div>
            <div *ngIf="f.totalcost.errors.maxlength">Cost cannot be greater than 5 digits.</div>
          </div>
      </ion-col>
     </ion-row>
        
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea formControlName="description" [(ngModel)]="purchase.description" name="description"></ion-textarea>
        </ion-item>
        <div *ngIf=" f.description.errors && f.description.touched" class="invalid-feedback">
          <div *ngIf="f.description.errors.maxlength">Description cannot be greater than 200 characters.</div>
        </div>
<br/>
        <ion-button *ngIf="!isLoading" (click)="pickImage()" color="primary" small color="tertiary" shape="round">Upload
          Image</ion-button>
        <ion-button *ngIf="isLoading" color="primary" small color="tertiary" shape="round">Loading
          ...</ion-button>


        <ion-list *ngIf="!isLoading && croppedImagepath">
          <ion-item class="ion-text-center">
            <ion-img [src]="croppedImagepath"></ion-img>
          </ion-item>
        </ion-list>
          <ion-input type="hidden" formControlName="image" [(ngModel)]="purchase.image" name="image"></ion-input>   
<br/>
        <ion-button color="success" [disabled]="form.invalid" type="submit" block>
          <span *ngIf="purchase_id > 0 else addBlock">Update</span>
          <ng-template #addBlock>Add</ng-template>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>