<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="stockin"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Add / Update Stock
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="newStock()" #form="ngForm" [formGroup]="newstockdetail">
    <ion-item>
      <ion-label position="floating">Unique ID <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="text" formControlName="product_unique" [(ngModel)]="stock.product_unique" name="product_unique">
        <div slot="end" *ngIf="isMobileDevice">
            <ion-button (click)="scanCode('product_unique')" color="success" shape="round" *ngIf="scannerPermission">
                <ion-icon slot="start" name="qr-scanner"></ion-icon>
                Scan
              </ion-button>
        </div>
      </ion-input>
    </ion-item>
    <ion-item>
        <ion-button (click)="openSetting()" color="success" shape="round" *ngIf="!scannerPermission">
            <ion-icon slot="start" name="settings"></ion-icon> Allow Permission to Scan
          </ion-button>
    </ion-item>
    <div *ngIf=" f.product_unique.errors && f.product_unique.touched" class="invalid-feedback">
      <div *ngIf="f.product_unique.errors.required">UID field is required</div>
      <div *ngIf="f.product_unique.errors.maxlength">UID cannot be greater than 30 characters.</div>
    </div>
    <ion-row>
      <ion-col size="6" size-sm>
        <ion-item>
          <ion-label position="floating">Purchase Cost <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input type="number" formControlName="purchase_cost" required [(ngModel)]="stock.purchase_cost"
            name="purchase_cost"></ion-input>
        </ion-item>
        <div *ngIf=" f.purchase_cost.errors && f.purchase_cost.touched" class="invalid-feedback">
          <div *ngIf="f.purchase_cost.errors.required">Cost field is required</div>
          <div *ngIf="f.purchase_cost.errors.maxlength">Cost cannot be greater than 5 digits.</div>
        </div>
      </ion-col>
      <ion-col size="6" size-sm>
        <ion-item>
          <ion-label position="floating">Quantity <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input type="number" formControlName="product_qty" required [(ngModel)]="stock.product_qty"
            name="product_qty"></ion-input>
        </ion-item>
        <div *ngIf=" f.product_qty.errors && f.product_qty.touched" class="invalid-feedback">
          <div *ngIf="f.product_qty.errors.required">Quantity field is required</div>
          <div *ngIf="f.product_qty.errors.maxlength">Quantity cannot be greater than 5 digits.</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label position="floating">Product Name <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="text" formControlName="product_name" required maxlength="80" [(ngModel)]="stock.product_name"
        name="product_name"></ion-input>
    </ion-item>
    <div *ngIf=" f.product_name.errors && f.product_name.touched" class="invalid-feedback">
      <div *ngIf="f.product_name.errors.required">Product name field is required</div>
      <div *ngIf="f.product_name.errors.maxlength">Product name cannot be greater than 80 characters.</div>
    </div>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea formControlName="description" [(ngModel)]="stock.description" name="description"></ion-textarea>
    </ion-item>
    <div *ngIf=" f.description.errors && f.description.touched" class="invalid-feedback">
      <div *ngIf="f.description.errors.maxlength">Description cannot be greater than 200 characters.</div>
    </div>
    <ion-row>
      <ion-col size="12" size-sm class="ion-text-center">
        <ion-button *ngIf="!isLoading && !croppedImagepath" (click)="pickImage()" color="primary" small color="tertiary"
          shape="round">Upload Image</ion-button>
        <ion-button *ngIf="isLoading && !croppedImagepath" color="primary" small color="tertiary" shape="round">Loading
          ...</ion-button>
      </ion-col>

      <ion-list *ngIf="!isLoading && croppedImagepath">
        <ion-item class="ion-text-center">
          <ion-thumbnail>
            <ion-img [src]="croppedImagepath"></ion-img>
          </ion-thumbnail>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-input type="hidden" formControlName="image" [(ngModel)]="stock.image" name="image"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-col size="6" size-sm>
        <ion-item>
          <ion-label position="floating">Amazon ASIN</ion-label>
          <ion-input type="text" formControlName="amazon" [(ngModel)]="stock.amazon" name="amazon">
            <div slot="end" *ngIf="isMobileDevice">
              <ion-button (click)="scanCode('amazon_asin')" color="success" shape="round" *ngIf="scannerPermission">
                  <ion-icon slot="start" name="qr-scanner"></ion-icon>
                  Scan
                </ion-button>
          </div>
          </ion-input>
        </ion-item>
        <div *ngIf=" f.amazon.errors && f.amazon.touched" class="invalid-feedback">
          <div *ngIf="f.amazon.errors.maxlength">Amazon ASIN cannot be greater than 30 characters.</div>
        </div>
      </ion-col>
      <ion-col size="6" size-sm>
        <ion-item>
          <ion-label position="floating">Flipkart FNSKU</ion-label>
          <ion-input type="text" formControlName="flipkart" [(ngModel)]="stock.flipkart" name="flipkart">
            <div slot="end" *ngIf="isMobileDevice">
              <ion-button (click)="scanCode('flipkart_asin')" color="success" shape="round" *ngIf="scannerPermission">
                  <ion-icon slot="start" name="qr-scanner"></ion-icon>
                  Scan
                </ion-button>
          </div>
          </ion-input>
        </ion-item>
        <div *ngIf=" f.flipkart.errors && f.flipkart.touched" class="invalid-feedback">
          <div *ngIf="f.flipkart.errors.maxlength">Flipkart ASIN cannot be greater than 30 characters.</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" size-sm>
        <ion-item>
          <ion-label position="floating">Paytm SKU</ion-label>
          <ion-input type="text" formControlName="paytm" [(ngModel)]="stock.paytm" name="paytm">
            <div slot="end" *ngIf="isMobileDevice">
              <ion-button (click)="scanCode('paytm_asin')" color="success" shape="round" *ngIf="scannerPermission">
                  <ion-icon slot="start" name="qr-scanner"></ion-icon>
                  Scan
                </ion-button>
          </div>
          </ion-input>
        </ion-item>
        <div *ngIf=" f.paytm.errors && f.paytm.touched" class="invalid-feedback">
          <div *ngIf="f.paytm.errors.maxlength">Paytm ASIN cannot be greater than 30 characters.</div>
        </div>
      </ion-col>
      <ion-col size="6" size-sm>
        <ion-item>
          <ion-label position="floating">Other UID</ion-label>
          <ion-input type="text" formControlName="other_uid" [(ngModel)]="stock.other_uid" name="other_uid" value="">
              <div slot="end" *ngIf="isMobileDevice">
                  <ion-button (click)="scanCode('other_uid')" color="success" shape="round" *ngIf="scannerPermission">
                      <ion-icon slot="start" name="qr-scanner"></ion-icon>
                      Scan
                    </ion-button>
              </div>
          </ion-input>
        </ion-item>
        <div *ngIf=" f.other_uid.errors && f.other_uid.touched" class="invalid-feedback">
          <div *ngIf="f.other_uid.errors.maxlength">Other field cannot be greater than 30 characters.</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-button color="success" [disabled]="form.invalid" type="submit" block>Add</ion-button>
  </form>

</ion-content>