<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" [formGroup]="loginDetails" (keyup.enter)="submitForm($event)">
    <ion-grid>
      <ion-card>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login your account!</h3>
          </div>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input name="email" type="email" formControlName="email" required autofocus="true" autocomplete="off" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input name="password" type="password" formControlName="password" required autocomplete="off"></ion-input>
            </ion-item>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block" (click)="login()">
              <ion-ripple-effect></ion-ripple-effect>
              Login </ion-button>
          </div>
          <p class="ion-text-center">
            <a routerLink="/register">Register</a>  | <a routerLink="/forgot">Forgot Password ?</a></p>
        </ion-col>
      </ion-row>
    </ion-card>
    </ion-grid>
  </form>
</ion-content>