<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>
      Change Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #form="ngForm" [formGroup]="changePassword">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-label position="floating">New Password</ion-label>
              <ion-input name="password" type="password" formControlName="password" minlength="8" maxlength="20" required autocomplete="off"></ion-input>
            </ion-item>
            <div class="error" *ngIf="!f.password.valid && !f.password.pending && (f.password.dirty)">
              <ion-label no-margin stacked> Password must be 8 character long.</ion-label>
            </div>
            <ion-item>
              <ion-label position="floating">Confirm Password</ion-label>
              <ion-input name="confirm_password" type="password" formControlName="confirm_password" required autocomplete="off"></ion-input>
            </ion-item>
            <div class="error" *ngIf="f.password.valid && f.confirm_password.dirty && changePassword.hasError('mismatchedPasswords')">
              <ion-label no-margin stacked>Passwords do not match</ion-label>
            </div>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block" (click)="update()">
              Update </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
