<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="login"></ion-back-button>
      </ion-buttons>
      <ion-title>
        Forgot Password
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <form #form="ngForm" [formGroup]="forgotDetails" (keyup.enter)="submitForm($event)">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div text-center>
                <h3>Forgot your password!</h3>
              </div>
              <div padding>
                
                <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input name="email" type="email" formControlName="email" required></ion-input>
                </ion-item>
                <ion-item *ngIf="otpSent">
                  <ion-label position="floating">Verify Otp</ion-label>
                  <ion-input name="otp" type="text" formControlName="otp" ></ion-input>
                </ion-item>
                <ion-item *ngIf="otpSent">
                  <ion-label position="floating">New password</ion-label>
                  <ion-input name="password" type="password" formControlName="password" ></ion-input>
                </ion-item>
              </div>
              <div padding>
                <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block" (click)="forgot()">
                  Recover </ion-button>
              </div>
              <p class="ion-text-center">
                <a routerLink="/login">Login</a>  | <a routerLink="/forgot">Forgot Password ?</a></p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
</ion-content>
