<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>
        Update Stock
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="cameraClass">
    <form 
    [formGroup]="sform" >
    <ion-card>
      <ion-item>
        <ion-label position="floating">Search</ion-label>
        <ion-input type="text" name="search" formControlName="searchControl" [formControl]="searchControl" [(ngModel)]="searchTerm"
          (ionChange)="setFilteredItems()"></ion-input>

          <div slot="end" *ngIf="isMobileDevice" class="padding-top-15">
            <ion-button color="default" (click)="scanCode()">
              <ion-icon color="success" name="expand" ></ion-icon>
            </ion-button>
            </div>
          <div slot="end" *ngIf="!isSafariBrowser" class="padding-top-15">
            <ion-button color="default" (click)="startListing()">
              <ion-icon color="danger" name="mic" ></ion-icon>
            </ion-button>
            </div>
            
      </ion-item>
    </ion-card>
</form>
    <div *ngIf="searching" class="ion-text-center" text-center>
      <ion-spinner></ion-spinner>
    </div>
  
    <!-- <div *ngIf="isMobileDevice" text-center class="ion-padding-top">Or</div> -->
<!-- 
    <ion-row *ngIf="isMobileDevice">
      <ion-col text-center class="ion-padding-top">
        <ion-button (click)="startListing()" color="success" shape="round">
          <ion-icon slot="start" name="qr-scanner"></ion-icon>
          Mic
        </ion-button>
      </ion-col>
    </ion-row> -->
  
    <!-- <ion-row *ngIf="isMobileDevice">
      <ion-col text-center class="ion-padding-top">
        <ion-button (click)="scanCode()" color="success" shape="round">
          <ion-icon slot="start" name="qr-scanner"></ion-icon>
          Scan
        </ion-button>
      </ion-col>
    </ion-row> -->
  
    <div *ngIf="(searchData.status); else noData">
      <ion-card *ngFor="let result of searchData.data">
        <ion-row>
          <ion-col>
            <form [formGroup]="updatestockdetail">
              <ion-item lines="none">
                <ion-thumbnail>
                  <img src="{{result.image == '' ? defaultImage : img_base+result.image}}">
                </ion-thumbnail>
                <ion-item lines="none">
                  <p>{{result.title}}</p>
                </ion-item>
                <ion-button *ngIf="!isSafariBrowser" color="default" type="button" block (click)="updateFields(qtyInput.value, result.id,product_status_id.value, marketplace_id.value, reason.value, 0,sale_price.value)" float-right><ion-icon color="danger" name="mic" ></ion-icon></ion-button>
              </ion-item>
  
              <ion-row>
                <ion-col size="6" size-sm>
                  <ion-item>
                    <ion-label position="floating"><span class="required">*</span>Quantity</ion-label>
                    <ion-input type="number" [id]="'quantity'+result.id"  formControlName="quantity" name="quantity" maxlength="5" value="1" #qtyInput></ion-input>
                  
                    <div slot="end" *ngIf="!isSafariBrowser" class="padding-top-35">
                      <ion-button color="default" (click)="updateQuantityField(qtyInput.value, result.id,product_status_id.value, marketplace_id.value, reason.value, 0,sale_price.value)">
                        <ion-icon color="danger" name="mic" ></ion-icon>
                      </ion-button>
                      </div>
                  </ion-item>
                  <div class="ion-text-end">Available: {{result.quantity}}</div>
                </ion-col>
                <ion-col size="6" size-sm> 
                  <ion-item>
                    <ion-label position="floating">Sale Price<span class="required">*</span></ion-label>
                    <ion-input type="number" [id]="result.id" formControlName="sale_price" required maxlength="6" #sale_price [value]="result.purchase_cost"
                    name="sale_price"></ion-input>
                    <div slot="end" *ngIf="!isSafariBrowser" class="padding-top-35">
                      <ion-button color="default" (click)="updatePriceField(qtyInput.value, result.id,product_status_id.value, marketplace_id.value, reason.value, 0,sale_price.value)">
                      <ion-icon color="danger" name="mic" ></ion-icon>
                    </ion-button>
                  </div>
                  </ion-item>
                  
                </ion-col>
              </ion-row>
              
              <ion-row>
                <ion-col size="6" size-sm>
                  <ion-item>
                    <ion-label  position="floating">Merchants</ion-label>
                  <ion-select [compareWith]="compareWithMerchant" value="{{defaultSelecteMerchant}}" placeholder="Select One" name="marketplace_id" formControlName="marketplace_id" #marketplace_id>
                    <ion-select-option 
                      *ngFor="let merchant of merchants.data"
                       [value]="merchant.id"
                       >{{merchant.name}}</ion-select-option>
                  </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col size="6" size-sm> 
                  <ion-item>
                    <ion-label position="floating">Stock Type<span class="required">*</span></ion-label>
                    <ion-select [compareWith]="compareWithType" value="{{defaultSelecteType}}" placeholder="Select One" name="product_status_id" formControlName="product_status_id" #product_status_id>
                      <ion-select-option 
                      *ngFor="let stockTypes of stockStatus.data | stocktypepipe: 2"
                       [value]="stockTypes.id"
                       >{{stockTypes.type}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-list>
                  <ion-item>
                      <ion-label  position="floating">Enter more information here...</ion-label>
                    <ion-textarea name="reason" #reason></ion-textarea>
                  </ion-item>
                </ion-list>
              <ion-button color="success" (click)="updateStock(qtyInput.value, result.id,product_status_id.value, marketplace_id.value, reason.value, 0,sale_price.value)" type="submit" block>Update</ion-button>
              <ion-button color="danger" type="button" block routerLink="/addnewstock/{{result.id}}">Edit</ion-button>
            </form>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <div class="ion-text-center" *ngIf="(inFiniteLoop && searchTerm); ">
      {{noDataFound}}
    </div>
    <!-- <ng-template #noData>
      <div class="ion-text-center" *ngIf="(!inFiniteLoop && !searchTerm); else showOrderScanner">
        {{noDataFound}}
      </div>
    </ng-template> -->
      
    <ng-template #noData>
      <div *ngIf="!searching">
        <ion-card margin>
          <div class="ion-text-center">
            {{noDataFound}}
          </div>
        </ion-card>
        <ion-card >
          <ion-grid *ngIf="hideProductCard" [@panelInOut]>
            <ion-row>
              <ion-col (click)="selectedProduct(image)" size="6" size="4" size="3" *ngFor="let image of products.data">
                <span *ngIf="image.id == selectedProductId" ><ion-icon color="danger" name="checkmark" class="selected-image" ></ion-icon></span>
                <div *ngIf="image.image" class="image-container" [ngStyle]="{'background-image':'url(' + img_base+image.image + ')', 'background-size':'contain', 'background-repeat':'no-repeat'}"></div>
                <div *ngIf="!image.image" class="image-container" [ngStyle]="{'background-image':'url(' + defaultImage + ')', 'background-size':'contain', 'background-repeat':'no-repeat'}"></div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-row *ngIf="!hideProductCard" [@panelInOut]>
            <ion-col>
              <form [formGroup]="updatestockdetail">
                <ion-item lines="none">
                  <ion-item lines="none">
                    <ion-thumbnail>
                      <img src="{{product_image == '' ? defaultImage : img_base+product_image}}">
                    </ion-thumbnail>
                    <ion-item lines="none">
                    <ion-label>{{selectedProductTitle}}</ion-label>
                    </ion-item>
                    <ion-input type="hidden" formControlName="product_id" name="product_id" value="{{selectedProductId}}" #product_id></ion-input>
                    <!-- <ion-item>
                      <ion-label position="floating">Select Product<span class="required">*</span></ion-label>
                      <ion-select placeholder="Select One" name="product_id" (ionChange)="setProductView($event)" #product_id formControlName="product_id">
                        <ion-select-option 
                        *ngFor="let item of products.data"
                         [value]="item"
                         >{{item.title}}</ion-select-option>
                      </ion-select>
                    </ion-item> -->
                    
                  </ion-item>
                </ion-item>
                <ion-row>
                  <ion-col size="6" size-sm>
                    <ion-item>
                      <ion-label position="floating">Subtract<span class="required">*</span> Quantity</ion-label>
                      <ion-input type="number" formControlName="quantity" name="quantity" maxlength="5" value="1" #qtyInput></ion-input>
                    </ion-item>
                    <div class="ion-text-end">Available: {{availableQuantity}}</div>
                  </ion-col>
                  <ion-col size="6" size-sm> 
                    <ion-item>
                      <ion-item>
                        <ion-label position="floating">Sale Price<span class="required">*</span></ion-label>
                        <ion-input type="number" formControlName="sale_price" required maxlength="6" #sale_price [value]="purchaseCost"
                        name="sale_price"></ion-input>
                      </ion-item>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="6" size-sm>
                    <ion-item>
                      <ion-label  position="floating">Merchants</ion-label>
                    <ion-select [compareWith]="compareWithMerchant" value="{{defaultSelecteMerchant}}" placeholder="Select One" name="marketplace_id" formControlName="marketplace_id" #marketplace_id>
                      <ion-select-option 
                        *ngFor="let merchant of merchants.data"
                         [value]="merchant.id"
                         >{{merchant.name}}</ion-select-option>
                    </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6" size-sm> 
                    <ion-item>
                      <ion-label position="floating">Stock Type<span class="required">*</span></ion-label>
                      <ion-select [compareWith]="compareWithType" value="{{defaultSelecteType}}" placeholder="Select One" name="product_status_id" formControlName="product_status_id" #product_status_id>
                        <ion-select-option 
                        *ngFor="let stockTypes of stockStatus.data | stocktypepipe: 2"
                         [value]="stockTypes.id"
                         >{{stockTypes.type}}</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-list>
                  <ion-item>
                      <ion-label  position="floating">Enter more information here...</ion-label>
                    <ion-textarea name="reason" #reason></ion-textarea>
                  </ion-item>
                </ion-list>
                <ion-button color="success" (click)="updateStock(qtyInput.value, product_id.value,product_status_id.value, marketplace_id.value, reason.value, 1,sale_price.value)" type="submit" block>Update</ion-button>
                <ion-button color="danger" type="button" block routerLink="/addnewstock">Add New</ion-button>
                <ion-button color="primary" type="button" block (click)="undoSelectedProduct()" float-right>Back</ion-button>
              </form>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </ng-template>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
  <ion-footer no-border *ngIf="!isSafariBrowser" >
    <ion-grid>
      <ion-row>
        <ion-col size="12">
            <ion-button expand="full" [disabled]="quickUpdateObject.disabled" [color]="quickUpdateObject.color" class="ion-text-uppercase" (click)="quickUpdateProduct()">{{quickUpdateObject.txt}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
   
  </ion-footer>

  <!-- <ion-footer no-border *ngIf="!isMobileDevice">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
            <ion-button expand="full" color="danger" class="ion-text-uppercase" (click)="quickUpdateProduct()">{{quickTxt}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
   
  </ion-footer> -->